@media screen and (max-width: 850px) {
    body {
        font-size: 0.7rem;
    }
    
    .header, .footer {
        padding: 10px;
    }

    .column {
        width: 100%; /* Stacks columns on top of each other for smaller screens */
    }


    .nav-container {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    body {
        font-size: 1rem;
    }
    
    .header, .footer {
        padding: 20px;
    }
}

@media(min-width: 850px) {
    .landing {
        flex-direction: column; /* Make items display horizontally */
    }
}

.menu-container {
    display: none; /* Hide the menu container by default */
    /* Your default styles here */
}

/* Media query for screens 768px and below */
@media (max-width: 850px) {
    .menu-container {
        display: flex; /* Display the menu container for smaller screens */
        /* Adjust styles for smaller screens here */
    }
    
    /* Adjust other styles for the menu items, hamburger icon, etc. */
}