body {
    font-family: "Poppins", sans-serif;
    margin: 0px 35px;
    padding: 0;
    background-color: #f6f6f6;
    line-height: 1.6;
    padding-top: 50px;
}


header {
    background-color: rgb(85, 85, 85);
    color: rgb(85, 85, 85);
    padding: 20px 0;
    text-align: center;
}

.header-container {
    position: fixed;   /* Makes the header fixed */
    top: 0;            /* Positions the header at the top */
    left: 0;           /* Aligns the header to the left edge */
    width: 100%;       /* Ensures the header takes the full width */
    z-index: 1000;     /* Keeps the header above other elements */
    
    
}

#logo {
    width: 50px;
    height: auto;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* A slight shadow for depth */
    transition: transform 0.3s ease; /* For a hover effect */
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);  /* Adjust for true vertical centering */
}

#logo:hover {
    transform: translateY(-50%) scale(3);

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #f6f6f6;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}



#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    
}

#landing h1, #landing h2 {
    color: rgb(85, 85, 85);
    font-size: 3em;
    margin: 1em 0;
    text-align: center;
}

#landing h1 {
    padding: 100px 30px 30px;
    
}

#landing h2 {
    
}

#landing img {
    max-width: 300px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.menu-items {
    list-style: none;
    padding: 0;
    display: none;
}

.menu-items li {
    margin: 10px 0;
}

.menu-items a {
    text-decoration: none;
    color: #fff;
}

/* Style for the open menu */
.menu-open {
    display: block;
}

section {
    display: none;
    padding: 50px;
    background-color: #ffffff;
    color: rgb(85, 85, 85);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

body > :not(#landing) h1, body > :not(#landing) h3 {
    text-align: center;
    color: rgb(85, 85, 85);
    margin: 30px 0;
}

body > :not(#landing) h1 {
    font-size: 2.5em;
    font-weight: bold;
    
}

body > :not(#landing) h3 {
    font-size: 1.5em;
    font-weight: medium;
}

p {
    margin-bottom: 20px;
}



#content-container {
    display: block;
    padding: 50px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.hover-image {
    color: blue;
    cursor: pointer;
    position: relative;
}

.image-popup {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    padding: 20px 15px 50px;
    background-color: #fff;
    z-index: 1;
}

.hover-image:hover .image-popup {
    display: flex;
    gap: 10px
}

/* New style to control the image size */
.image-popup img {
    max-width: 350px;   /* or any other width you desire */
    max-height: 350px;  /* or any other height you desire */
}

.hover-video {
    color: blue;
    cursor: pointer;
    position: relative;
}

.video-popup {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    padding: 20px 15px 50px;
    background-color: #fff;
    z-index: 1;
}

.hover-video:hover .video-popup {
    display: block;
}

.video-popup video {
    max-width: 350px;   /* or any other width you desire */
    max-height: 350px;  /* or any other height you desire */
}

/* Footer Styles */
footer {
    display: fixed;
    text-align: center;
    padding-top: 30px;

}

footer a {
    color: #333;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
    padding-right: 40px;
    
}

footer a:hover {
    color: #0077b5; /* LinkedIn color for hover. Adjust as needed */
}

.project-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: absolute;
    justify-content: center;
    align-items: center;
}


video {
    width: 100%;
    height: auto;
}


.project-description h3 {
    margin: 0 0 10px 0;
}

.project-description p {
    margin: 0;
}


